<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Animation</title>
    <style>
      .animation-wrap {
        display: inline-block;
        width: 600px;
        border: 1px solid;
        vertical-align: bottom;
      }
      .animation {
        width: 100px;
        height: 100px;
        background-color: lightblue;
      }

      .pause {
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <div class="animation-wrap">
      <div class="animation" id="a1"></div>
    </div>
    <button class="pause">暂停</button>
    <div class="animation-wrap">
      <div class="animation" id="a2"></div>
    </div>
  </body>
</html>
